.DS_Store
__pycache__/
saved_info/
dataset/
improved_diffusion.egg-info/
generated_samples/
*.zip
*.pth
*.ckpt
__MACOSX/
logs/
*lmdb
stabilityai/
*generated*
celeba_test/
*.png
*.jpg
*.log
data/
slurm_scripts/
